.section {
    background-image: url(./bricks.png);
    background-repeat: repeat;
    background-size: 33vh 33vh;
    background-attachment: local;
}

.slide {
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.frame {
    width: auto;
    height: 90%;
    object-fit: contain;
}